.grid {
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	grid-gap: 20px;
}

.grid div.subitems {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px
}

.grid div.subitems div {
	background-color: #181e2f;
}

.span-2 {
	grid-column-end: span 2;
}

.grid div {
	background-color: #28314E;
	border: 1px solid #212941;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}

.grid div:nth-child(odd) {
	background-color: #475477;
}