.grid {
  display: grid;
  grid-template-columns: minmax(150px,300px) 1fr 1fr;
  grid-template-rows: 200px 200px; /* высота рядов */
  grid-auto-rows: minmax(100px, auto); /*дефолтная высота ряда */
  grid-gap: 20px; /* расстояние между колонками и рядами */
  grid-auto-flow: column;

}

.grid div {
	background-color: #28314E;
	border: 1px solid #212941;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}

.grid div:nth-child(odd) {
	background-color: #475477;
}