.grid {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 200px 200px; /* высота рядов */
  grid-auto-rows: 150px; /*дефолтная высота ряда */
  grid-gap: 20px; /* расстояние между колонками и рядами */

}

.grid div {
	background-color: #28314E;
	border: 1px solid #212941;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}

.grid div:nth-child(odd) {
	background-color: #475477;
}